/*----------------------------------------Mobile View----------------------------------------*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  
    .container {
      width: 95%;
      height: 100%;
      margin: auto;
      /* border: solid red 1px; */
    }
  
    header {
      background: var(--primary-color);
      /* border: solid yellow 2px; */
      text-align: center;
      height: 100%;
      overflow: hidden;
      animation-name: header;
      animation-duration: 4s;
      animation-direction: forwards;
      font-family: var(--primary-font);
    }
  
    /* @keyframes header {
      0% {
        height: 0px;
      }
      100% {
        height: 1000px;
      }
    } */
  
    /* nav ul {
            display: block;
            height: 0px;
            overflow: hidden;
        }
    
        .h2_menu {
            display: block;
            font-size: 20px;
        } */
  
  
  
  
    /* About Me */
  
    #div_aboutMe {
      background: url('./temp_img_mobile.jpg') no-repeat;
      background-size: cover;
      /* border: solid green 2px; */
      margin-top: 0;
      width: 100%;
      height: 100%;
      /* height: 100vh; */
      /* padding-top: 150px; */
    }
  
  
    .overlay {
      background: rgb(0, 0, 0, .7);
      height: 100%;
      width: 100%;
      /* border: solid rebeccapurple 2px; */
    }
  
    .overlay .container > div {
      /* margin-top: 0; */
      /* border: solid powderblue 2px; */
      width: 100%;
      height: 100%;
      margin: 0;
      padding-top: 4rem;
    } 
  
    #div_aboutMe div h2 {
      margin: 0;
      padding: 0;
    }
  
    #div_aboutMe .overlay .container div p {
      line-height: 2;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
  
  
    .btn {
      margin-top: 0;
      margin-bottom: 2em;
    }
  
    /* Projects */
  
    #section_projects {
      /* border: solid 1px blue; */
      height: 100vh;
      padding: 3em 0;
    }
  
  
    .carousel {
      min-height: 0;
      height: 75vh;
      /* width: 370px; */
      width: 23rem;
      margin: auto;
      margin-bottom: 0;
      /* border: green solid 2px; */
      overflow: hidden;
      padding: 2em 3em;
    }

    .card {
      min-width: 1rem;
      min-height: 60vh;
      margin: auto;
    }
  
    
    /* Contact Me */
  
    #section_contactMe h1 {
      font-size: 2em;
    }
  
  
  }