@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 813px) 
                   and (orientation: landscape) {
    .container {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: auto;
      /* border: green solid 2px; */
    }
  
    header {
      background: var(--primary-color);
      /* border: solid yellow 2px; */
      text-align: center;
      height: 100%;
      overflow: hidden;
      animation-name: header;
      animation-duration: 4s;
      animation-direction: forwards;
      font-family: var(--primary-font);
    }

    /* About Me */
  
    #div_aboutMe {
      margin-top: 0;
      padding-top: 0;
    }

    #div_aboutMe .overlay .container div {
      padding-top: 4em;
    }

    #div_aboutMe div h2 {
      margin-top: 0;
    }
  
    #div_aboutMe div p {
      line-height: 1.5;
      margin-top: 20px;
    }
  
    .btn {
      margin-top: 0;
      margin-bottom: 2em;
    }
    /* Projects */
  
    #section_projects {
      /* border: solid 1px blue; */
      height: 50rem;
      padding: 3em 0;
    }
  
    #section_projects h1 {
      font-size: 2em;
    }
  
    .carousel {
      min-height: 0;
      height: 32rem;
      /* width: 370px; */
      width: 45rem;
      margin: auto;
      margin-bottom: 0;
      /* border: green solid 2px; */
      overflow: hidden;
      padding: 2em 5em;
    }
  
    .card {
      width: 20rem;
      height: 25rem; 
      padding: 0;
      /* border: red solid 1px; */
    }
  
  }