/* 
    
Baby Blue Color: #89cff0 
Black: #000
10% lighter Black: #191919
More Button Black: #1d1d1d

*/

:root {
  --primary-color: #191919;
  --primary-color-darker: #111111;
  --primary-color-lighter: #1d1d1d;
  --secondary-color: #89cff0;
  --secondary-color-darker: #24a6e3;
  --tertiary-color: #4424e3;
  --primary-font: "Arvo", serif;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  /* height: 1000vh; */
  /* font-family: var(--primary-font); */
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
  /* border: solid red 1px; */
}

#section_projects,
#section_contactMe {
  background: var(--primary-color-lighter);
  text-align: center;
  height: auto;
  padding: 100px;
}

/*----------------------------------------Header----------------------------------------*/

header {
  background: var(--primary-color);
  /* border: solid #000 2px; */
  text-align: center;
  height: 100vh;
  overflow: hidden;
  animation-name: header;
  animation-duration: 4s;
  animation-direction: forwards;
  font-family: var(--primary-font);
}

/* @keyframes header {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
} */

.div_navigation {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 3;
}

nav {
  /* border-bottom: solid green 2px; */
  background: var(--secondary-color-darker);
  position: fixed;
  margin: 0;
  padding: 0;
  /* padding-bottom: 3em; */
  width: 100%;
  height: 40px;
  opacity: 0.9;
  transition-property: background;
  transition-duration: 0.5s;
  overflow: hidden;
}

.hamburger,
.toggler {
  display: none;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  padding-top: none;
  transition-property: opacity;
  transition-duration: 0.5s;
  position: relative;
  top: -8px;
}

nav ul li {
  transition-property: color;
  transition-duration: 0.5s;
}

/* nav ul li:hover {
      color: var(--secondary-color);
  } */

nav ul li a {
  color: #000;
}

.resume {
  color: var(--tertiary-color);
}

nav ul li a:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}


.h1_welcome {
  margin-top: 150px;
}

/*----------------------------------------About Me----------------------------------------*/

#div_aboutMe {
  /* background: url('./temp_img.jpg') no-repeat; */
  background: url('./My_Picture.jpg') no-repeat;
  background-size: cover;
  /* border: solid green 2px; */
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  /* padding-top: 150px; */
}

.overlay {
  background: rgb(0, 0, 0, .8);
  height: 100%;
  width: 100%;
  /* border: solid yellow 2px; */
}


.overlay > .container > div {
  padding-top: 9.5rem;
}

#div_aboutMe div h2 {
  padding-bottom: 0.5rem;
}

.p_aboutMe {
  line-height: 5;
  margin-bottom: 2.7em;
}


.button_more {
  background: var(--primary-color-lighter);
  color: var(--secondary-color);
  border: solid #000 2px;
  border-radius: 20%;
  padding: 10px 20px;
  transition-property: color, background;
  transition-duration: 0.5s;
}

.button_more:hover {
  color: var(--secondary-color);
  background: #000;
}

#div_aboutMe .btn-primary {
  /* background: var(--primary-color-lighter); */
  background: var(--primary-color-darker);
  border: #000 solid 2px;
  color: var(--secondary-color);
  width: 10em;
}

#div_aboutMe .btn:active,
#div_aboutMe .btn:focus {
  outline: none;
  box-shadow: none;
  background: var(--primary-color-darker);
}

/*----------------------------------------Resume DropDown----------------------------------------*/
  .section_resumeDropDown {
    background: var(--primary-color-darker);
    text-align: center;
    height: 2rem;
    /* border: solid green 1px; */
  }

  .icon {
    color: var(--secondary-color-darker);
  }



  .section_resumeDropDown h1, .section_resume h1  {
    font-size: 1.5em;
    color: var(--secondary-color-darker);
    font-weight: 1;
  }

  .section_resumeDropDown h1:hover, .section_resume h1:hover {
    cursor: pointer;
  }

 /*----------------------------------------Resume----------------------------------------*/

  .section_resume {
    background: var(--primary-color-darker);
    height: 0;
    overflow: hidden;
    /* padding-top: 2rem; */
    /* border: solid green 1px; */
    /* padding-bottom: 2rem; */
    display: none;
  }

  .section_resume div {
    width: 50%;
    margin: auto;
    align-items: center;
    /* border: solid green 1px; */
  }



  .section_resume img {
    width: 40rem;
    /* border: solid green 1px; */
    margin-left: 4rem;
    margin-bottom: 2rem;
  }

  .section_resume h1 {
    text-align: center;
  }


/*----------------------------------------Projects----------------------------------------*/

#section_projects {
  /* border: solid 1px blue; */
  /* background: var(--primary-color); */
  height: 100vh;
}

#section_projects h1 {
  margin-top: 300;
}

.carousel {
  height: 40rem;
  padding: 25px;
  /* border: solid red 1px; */
}

.card {
  min-width: 500px;
  min-height: 500px;
  margin: auto;
  
}

.card img {
  /* border: #000 solid 1px; */
}

.carousel .bg-primary {
  background-color: var(--secondary-color-darker) !important;
  color: #000;
}

.carousel .text-primary p,
.carousel .text-primary h5 {
  color: #000 !important;
}

.card .btn-primary {
  color: #fff;
  background-color: var(--primary-color-lighter);
  border-color: var(--primary-color-lighter);
}

.card .btn-primary:active,
.card .btn-primary:focus {
  background-color: var(--primary-color-lighter) !important;
  outline: none !important;
  box-shadow: none !important;
}

/*----------------------------------------Skills----------------------------------------*/

.section_contactAndSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}


#section_skills {
  background: var(--primary-color);
  border-right: solid #000 1px;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 3rem;

}

#section_skills .container  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  /* border: solid red 1px; */
  /* align-items: center; */
  /* margin-left: 28rem; */
}

#section_skills h2 {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

#section_skills ul {
  display: grid;
  grid-template-columns: .8fr 1fr;
  /* border: solid green 1px; */
  /* align-items: flex-end; */
}

#section_skills h2, #section_skills li {
  /* color: var(--secondary-color); */
  list-style: none;
  padding: .5rem 0;
}

/*----------------------------------------Contact Me----------------------------------------*/

#section_contactMe {
  background: var(--primary-color);
  /* border: solid green 2px; */
}

#section_contactMe h1 {
  font-size: 3em;
}

#section_contactMe p a {
  color: var(--secondary-color);
}

#section_contactMe p a:hover {
  text-decoration: none;
}

/*----------------------------------------Footer----------------------------------------*/

footer {
  background: var(--secondary-color-darker);
  color: #000;
  text-align: center;
}


