:root {
  --primary-color: #191919;
  --primary-color-darker: #111111;
  --primary-color-lighter: #1d1d1d;
  --secondary-color: #89cff0;
  --secondary-color-darker: #24a6e3;
  --tertiary-color: #4424e3;
  --primary-font: "Arvo", serif;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  /* height: 1000vh; */
  /* font-family: var(--primary-font); */
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
  /* border: solid red 1px; */
}

#section_projects,
#section_contactMe {
  background: var(--primary-color-lighter);
  text-align: center;
  height: auto;
  padding: 100px;
}

/*----------------------------------------Header----------------------------------------*/

header {
  background: var(--primary-color);
  /* border: solid #000 2px; */
  text-align: center;
  height: 100vh;
  overflow: hidden;
  font-family: var(--primary-font);
}


.div_navigation {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 3;
}

nav {
  /* border-bottom: solid green 2px; */
  background: var(--secondary-color-darker);
  position: fixed;
  margin: 0;
  padding: 0;
  /* padding-bottom: 3em; */
  width: 100%;
  height: 40px;
  opacity: 0.9;
  transition-property: background;
  transition-duration: 0.5s;
  overflow: hidden;
}

.hamburger,
.toggler {
  display: none;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  padding-top: none;
  transition-property: opacity;
  transition-duration: 0.5s;
  position: relative;
  top: -8px;
}

nav ul li {
  transition-property: color;
  transition-duration: 0.5s;
}

/* nav ul li:hover {
      color: var(--secondary-color);
  } */

nav ul li a {
  color: #000;
}

nav ul li a:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}


.h1_welcome {
  margin-top: 150px;
}

/*----------------------------------------About Me----------------------------------------*/

#div_aboutMe {
  /* background: url('./temp_img.jpg') no-repeat; */
  background: url('./Img/My_Picture.jpg') no-repeat;
  background-size: cover;
  /* border: solid green 2px; */
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  /* padding-top: 150px; */
}

.overlay {
  background: rgb(0, 0, 0, .8);
  height: 100%;
  width: 100%;
  /* border: solid yellow 2px; */
}


.overlay > .container > div {
  padding-top: 9.5rem;
}

#div_aboutMe div h2 {
  padding-bottom: 0.5rem;
}

.p_aboutMe {
  line-height: 5;
  margin-bottom: 2.7em;
}


/*----------------------------------------Projects----------------------------------------*/

#section_projects {
  /* border: solid 1px blue; */
  /* background: var(--primary-color); */
  height: 100vh;
}

#section_projects h1 {
  margin-top: 300;
}

.carousel {
  height: 40rem;
  padding: 25px;
  /* border: solid red 1px; */
}

.card {
  min-width: 500px;
  min-height: 500px;
  margin: auto;
  
}

.carousel .bg-primary {
  background-color: var(--secondary-color-darker) !important;
  color: #000;
}

.carousel .text-primary p,
.carousel .text-primary h5 {
  color: #000 !important;
}

.card .btn-primary {
  color: #fff;
  background-color: var(--primary-color-lighter);
  border-color: var(--primary-color-lighter);
}

.card .btn-primary:active,
.card .btn-primary:focus {
  background-color: var(--primary-color-lighter) !important;
  outline: none !important;
  box-shadow: none !important;
}

/*----------------------------------------Skills----------------------------------------*/

.section_contactAndSkills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}


#section_skills {
  background: var(--primary-color);
  border-right: solid #000 1px;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 3rem;

}

#section_skills .container  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  /* border: solid red 1px; */
  /* align-items: center; */
  /* margin-left: 28rem; */
}

#section_skills h2 {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}

#section_skills ul {
  display: grid;
  grid-template-columns: .8fr 1fr;
  /* border: solid green 1px; */
  /* align-items: flex-end; */
}

#section_skills h2, #section_skills li {
  /* color: var(--secondary-color); */
  list-style: none;
  padding: .5rem 0;
}

/*----------------------------------------Contact Me----------------------------------------*/

#section_contactMe {
  background: var(--primary-color);
  /* border: solid green 2px; */
}

#section_contactMe h1 {
  font-size: 3em;
}

#section_contactMe p a {
  color: var(--secondary-color);
}

#section_contactMe p a:hover {
  text-decoration: none;
}

/*----------------------------------------Footer----------------------------------------*/

footer {
  background: var(--secondary-color-darker);
  color: #000;
  text-align: center;
}










/*----------------------------------------Mobile View----------------------------------------*/

@media only screen and (min-width: 0px) and (max-width: 808px) {
  /* For mobile phones: */

  body {
    overflow: hidden;
  }

  .stopScroll {
    height: 100vh;
    overflow: hidden;
  }

  .container {
    width: 95%;
    height: 100%;
    margin: auto;
    /* border: solid red 1px; */
  }

  header {
    background: var(--primary-color);
    /* border: solid yellow 2px; */
    text-align: center;
    height: 57rem;
    overflow: hidden;
    font-family: var(--primary-font);
  }




  /* About Me */

  #div_aboutMe {
    background: url('./Img/temp_img_mobile_long.jpg') no-repeat;
    background: url('./My_Picture_Mobile.jpg') no-repeat;
    background-size: cover;
    /* border: solid green 2px; */
    margin-top: 0;
    width: 100%;
    height: 900px;
    overflow: hidden;
    /* height: 100vh; */
    /* padding-top: 150px; */
  }


  .overlay {
    background: rgb(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    /* border: solid rebeccapurple 2px; */
  }

  .overlay .container > div {
    /* margin-top: 0; */
    /* border: solid powderblue 2px; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 4rem;
  } 

  #div_aboutMe div h2 {
    margin: 0;
    padding: 0;
  }

  #div_aboutMe .overlay .container div p {
    line-height: 2.3;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }


  /* Projects */

  #section_projects {
    height: 100vh;
    padding: 3em 0;
  }


  .carousel {
    min-height: 0;
    height: 75vh;
    width: 25rem;
    margin: auto;
    margin-bottom: 0;
    overflow: hidden;
    padding: 2em 3em;
  }

  .card {
    min-width: 1rem;
    min-height: 60vh;
    margin: auto;
  }


  /* Skills */
  .section_contactAndSkills {
    display: block;
  }
  
  #section_skills {
    padding: 2rem 0;
  }


  #section_skills .container  {
    display: block;
    width: 100%;
    text-align: center;
  }

  #section_skills h2 {
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
  
  /* Contact Me */

  #section_contactMe h1 {
    font-size: 2em;
  }


}

@media only screen and (max-width: 320px) {
  body {
    overflow: hidden;
  }

 

  .section_projects {
    width: 100vw;
    margin: 0;
  }

  .carousel {
    /* width: 100%; */
    margin: 0;
    /* border: solid pink 1px; */
    
  }
  
  .card {
    width: 100vw;
    margin: 0;
    overflow: visible;
  }

  .card img {
    width: 100%;
  }

}




/* -----------------------------------------------------------Landscape--------------------------------------------------------------- */
@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 823px) /*was 813*/
                   and (orientation: landscape) {
    
    
    body {
      /* overflow: visible; */
      /* width: 100vw; */
    }

    .container {
      width: 100%;
      /* height: 100%; */
      padding: 0;
      margin: auto;
      /* border: green solid 2px; */
    }
  
    header {
      background: var(--primary-color);
      /* border: solid yellow 2px; */
      text-align: center;
      height: 100%;
      /* overflow: hidden; */
      font-family: var(--primary-font);
      margin-top: 0;
      padding-top: 0;
    }


    /* About Me */
  
    #div_aboutMe {
      background: url("./Img/My_Picture_Landscape.jpg") no-repeat;
      margin-top: 0;
      padding-top: 0;
      height: 100%;
      /* border: solid pink; */
    }

    .overlay {
      /* height: 120vh; */
      /* overflow: visible; */
    }

    #div_aboutMe .overlay .container div {
      padding-top: 4em;
    }

    #div_aboutMe div h2 {
      margin-top: 0;
    }
  
    .p_aboutMe {
      line-height: 1.5;
      margin-top: 20px;
    }
  
    .btn {
      margin-top: 0;
      margin-bottom: 2em;
    }
    /* Projects */
  
    #section_projects {
      /* border: solid 1px blue; */
      height: 50rem;
      padding: 3em 0;
      padding-top: 8rem;
    }
  
    #section_projects h1 {
      font-size: 2em;
    }
  
    .carousel {
      min-height: 0;
      height: 30rem;
      width: 100vw;
      margin: auto;
      margin-bottom: 0;
      /* border: green solid 2px; */
      overflow: hidden;
      padding: 2em 5em;
    }
  
    .card {
      /* width: 20rem; */
      height: 22rem; 
      padding: 0;
    }


    #section_skills {
      border-right: none;
      border-bottom: solid #000 1px;
    }

  
  }




 /* ---------------------------------------------------------Hamburger---------------------------------- */
  @media only screen and (max-width: 813px) {
  
    /* Initially Hide The Menu */
  
    /* Make nav vertical. */
  
    /* .div_navigation {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 70px;
        min-height: 410px;
        opacity: 0.9;
      } */
    
      .div_navigation {
        position: fixed;
        /* top: 0px;
        right: 0px; */
        width: 100vw;
        height: 100vh;
        opacity: 0.9;
        /* border: solid red 1px; */
        z-index: 20;
        overflow: hidden;
      }
    
      /* nav {
        border: #333 solid;
        border-top: none;
        margin-top: 50px;
        width: 100%;
        position: static;
        opacity: 0;
        transition-property: opacity, height;
        transition-duration: 0.3s;
      } */

      nav {
        /* border: #333 solid; */
        border-top: none;
        /* border-radius: 40%; */
        /* box-shadow: 0 0 100px 100px var(--secondary-color-darker); */
        margin-top: 50px;
        width: 100%;
        height: 100%;
        margin-top: 0;
        padding-top: 4.5rem;
        position: static;
        opacity: 0;
        transition-property: opacity, height;
        transition-duration: 0.3s;
      }
    
      nav ul {
        display: block;
        width: 100%;
        min-height: 350px;
        font-size: 1.4em;
      }
    
      nav ul li {
        width: 100%;
        padding-top: 2.5em;
        /* border: solid green 2px;  */
      }
    
      nav ul li:nth-child(1) {
        padding-top: 1.8rem;
      }

      nav ul li a {
        font-size: .8em;
      }

  
    
      /* Create And Position Hamburger */
      .hamburger,
      .toggler {
        display: inline-block;
        position: fixed;
        top: 10px;
        right: 10px;
        height: 50px;
        width: 70px;
        background: #000;
      }
    
      .hamburger {
        z-index: 2;
        border: #333 solid 2px;
      }
    
      /* Create And Position Toggler */
      .toggler {
        z-index: 3;
        opacity: 0;
      }
    
      .toggler:hover {
        cursor: pointer;
      }
    
      /* Create Hamburger Lines */
    
      .hamburger > div {
        background: var(--secondary-color);
        height: 2px;
        width: 60%;
        margin: auto;
        position: relative;
        top: 20px;
        transition-property: transform;
        transition-duration: 0.5s;
      }
    
      .hamburger > div::before,
      .hamburger > div::after {
        content: "";
        height: 2px;
        background: var(--secondary-color);
        display: block;
        position: relative;
        top: 10px; 
      }
    
      .hamburger > div::before {
        top: -10px;
      }
    
      .hamburger > div::after {
        top: 10px;
      }
    
      /* Toggle menu */
    
      .toggler:checked ~ nav {
        opacity: 1;
        min-height: 400px;
      }
    
      .toggler:checked ~ nav > ul {
        opacity: 1;
      }
    
      /* Animate Hamburger */
    
      .toggler:checked ~ .hamburger {
        background: none;
        border: none;
        margin-top: .5rem;
      }

      .toggler:checked ~ .hamburger > div {
        transform: rotate(135deg);
        width: 60%;
        background: #000;
      }
    
      .toggler:checked ~ .hamburger > div::before {
        opacity: 0;
      }
    
      .toggler:checked ~ .hamburger > div::after {
        top: 0;
        transform: rotate(270deg);
        background: #000;
      }

}

@media only screen and (orientation: landscape) {
  nav {
    padding-top: 0;
  }
  nav ul li {
    width: 100%;
    padding-top: 1rem;
    /* border: solid green 2px;  */
  }

  nav ul li a {
    font-size: .8em;
  }

}